@import '~@eview/scss/index';
@import 'scss/index';
@import '~leaflet/dist/leaflet.css';
html,
body {
  height: 100%;
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1
}

body {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  eview-root {
    width: 100%;
  }
}

.bg-dark {
  background-color: $undp-jtf-bg-color !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  padding: 10px 16px;
  &.btn-md {
    width: 48px;
    height: 48px;
    font-size: 16px;
  }
  &.btn-xl {
    width: 64px;
    height: 64px;
    font-size: 24px;
    padding: 10px 21px;
  }
  fa-icon {
    margin: 0;
  }
}

.btn {
  fa-icon {
    margin-right: 4px;
  }
}

// ng2-dragula styles.
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  pointer-events: none;
}

.gu-hide {
  left: -9999px !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

.color-picker .left {
  display: none;
}

.color-picker .type-policy {
  display: none;
}
.icon-picker {
  left: -170px !important;
}

#fm-branding-bar > span {
  display: none;
}

.font-bold {
  .nav-tabs .nav-link {
    font-weight: bold;
  }
}

span.switch {
  background: lightgrey !important;
}

span.switch-medium {
  width: 55px !important;
  small {
    width: 25px !important;
    height: 25px !important;
    margin: 2px 3px;
  }
  &.checked small {
    left: 32px;
    margin: 2px 0px;
  }
}

span.switch-medium.checked {
  small {
    left: 27px !important;
  }
  background: #ffc107 !important;
}

/*font roboto bold*/
.fontRobotoBold {
  font-family: "Roboto-Bold";
}

/*font roboto medium*/
.fontRobotoMedium {
  font-family: "Roboto-Medium";
}

/*font roboto regular*/
.fontRobotoRegular {
  font-family: "Roboto-Regular";
}

.cursor-pointer {
  cursor: pointer;
}
li.fm-divider {
  display: none !important;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-12 {
  font-size: 12px;
}

.mb-auto, .my-auto {
  margin-bottom: auto!important;
  margin-right: 5px;
  margin-left: 3px;
}