<div class="card mb-3 active" [class.active]="active$ | async" [class.report-urgency]="post.priority === PostPriority.Urgent">
  <div class="card-body" style="padding: 0.5rem!important;">
    <div class="card-title flex-card-row-wrapper">
      <div class="flex-card-row">    
        <div *ngIf="post.icon">
          <!-- <img src="/assets/images/icon_shooter.svg"/> -->
          <i class="{{post.icon}}"></i>
        </div>   
        <div class="flex-card-column-wrapper pad-left-right-5">
          <div class="fontRobotoBold word-wrap">{{ post.title }}</div>
          <div class="mr-3 flex-card-report-info-row">
            <span class="font-weight-bold fontRobotoRegular">{{'POST_ID' | translate }} 
                <span class="fontRobotoRegular">{{post.id}}</span>
            </span>
            <span class="font-weight-bold fontRobotoRegular">{{'POST_SOURCE' | translate }} 
              <span *ngIf="post.source" class="fontRobotoRegular">{{post.source | translate | uppercase}}</span>
              <span *ngIf="!post.source" class="fontRobotoRegular">{{'POST_SOURCE_WEB' | translate  }}</span>
            </span>
          </div>
        </div>     
      </div>
      <div class="cursor-pointer" (click)="onClick()"><i class="fa fa-lg fa-chevron-right arrow-opacity"></i></div>
    </div>
    <eview-post-subtitle  (onShowLinkedPostClick)="onShowLinkedClick($event)" [post]="post"></eview-post-subtitle>
    <!--Linked reports-->
    <!-- <div class="flex-bottom-item">    
      <div class="fontRobotoMedium">
       {{ 'NO_LINKED_POSTS_SUFFIX' | translate }}
      </div>
      <div (click)="onShowLinkedClick(post)" *ngIf="post.linked_posts > 0" class="mgmt-level-border fontRobotoRegular marg-top-7">
        +{{ post.linked_posts }} 
      </div>
      <div *ngIf="post.linked_posts === 0" class="mgmt-level-border fontRobotoRegular marg-top-7">
        {{ post.linked_posts }}
      </div>
    </div> -->
    <!-- <div class="row mt-4" style="margin-left: 1px; margin-bottom: -10px;">
      <button
        class="btn btn-sm btn-light linked-posts"
        (click)="onShowLinkedClick(post)"
        *ngIf="post.linked_posts > 0"
      >
        <img width="24" height="24" src="/assets/images/file-copy-alt.svg" />
        +{{ post.linked_posts }} {{ 'NO_LINKED_POSTS_SUFFIX' | translate }}
      </button>
      <div class="priority"
        *ngIf="PostPriority && (post.priority === PostPriority.Urgent)"
      >
      <img  class="float-right" width="24" height="24" src="/assets/images/exclamation-triangle-dark.svg" />
      </div>
    </div> -->
  </div>
</div>
