.flex-message-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5em;
  margin-right: 1em;
  align-items: center;
  max-width: 100%;
}

.line-divider {
  margin-left: 2em;
  margin-right: 1em;
}

.message-text {
  font-size: 24px;
}

.flex-message-row {
  display: flex;
  flex-grow: 1;
}

.custom-no-records-info {
  font-size: 14px;
  color: #000000 !important;
}

.custom-table-header {
  color: #fff;
  background-color: #4282c2;
  border: none !important;
}

.custom-message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.marg-top-2 {
  margin-top: 2em;
}