.notification-container {
   background-color: #ffffff;
  .notification {
    color: #000000;
    border-bottom: 1px solid #00000020;
    &:last-child {
      border: none;
    }
    opacity: 0.75;
    &.notification-unread {
      opacity: 1;
      font-weight: bold;
    }
  }
}
