@import '../../../../styles.scss';

.card-body {
  .card-subtitle {
    font-size: 14px;
    span {
      fa-icon {
        margin-right: 4px;
      }
      &:nth-child(1n + 2) {
        margin-left: 8px;
      }
    }
  }
}

.value {
  * {
    display: block;
  }
  .label {
    font-weight: bold;
  }
  .instructions {
    font-size: 14px;
  }

  .map-container {
    height: 33vh;
    eview-map {
      height: 100%;
    }
  }
}
