.line-divider {
  margin-left: 2em;
  margin-right: 1em;
}

.flex-message-row {
  display: flex;
  flex-grow: 1;
}

.custom-no-records-info {
  font-size: 14px;
  color: #000000 !important;
}

.custom-table-header {
  color: #fff;
  background-color: #4282c2;
  border: none !important;
}
