.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border: 0px !important;
}

.flex-template-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.0em;
  margin-left: 0.3em;
  margin-right: 1em;
  align-items: center;
  max-width: 100%;
}

.flex-report-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3.5em;
  margin-left: 2em;
  margin-right: 1em;
  gap: 2em;
  min-width: 80%;
}

.analysis-table-wrapper{
  margin-left: 2em;
  max-width: 100%;
  min-width: 80%;
  margin-right: 1em;
}

.line-divider {
  margin-left: 2em;
  margin-right: 1em;
}

.template-text {
  font-size: 24px;
}

.flex-template-row {
  display: flex;
  flex-grow: 1;
}

.flex-report-row {
  display: flex;
}

.flex-gap-row {
  gap: 2.5em;
}

.flex-gap-1 {
  gap: 1em;
}

.btn-report-group {
  display: flex;
}

.custom-row-btn {
  width: 70px;
  padding: 1.5%;
}

.custom-btn {
  width: 80px;
  padding: 0.3%; 
}

.padding-left-3 {
  padding-left: 3%;
}

.marg-left-2 {
  margin-left: 2%;
}

.btn-outline-black {
  border: 1px solid #000000;
}

.btn-border {
  border-radius: 10px;
}

.btn-outline-black:hover {
  background-color: #4383c2;
}

.btn-outline-report:hover {
  background-color: #92D46A;
  border: 1px solid #92D46A;
  color : white;
}

.report-text {
  font-size: 14px;
}

.btn-template-row-text {
  font-size: 16px;
}

.btn-border-report {
  border-radius: 20px;
  border: 1px solid #000000;
}

.add-more-charts-text {
  font-size: 13px;
  color: #4383c2;
}

.custom-input-group-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 5px;
}

.btn-round-border {
  border-radius: 10px;
}

.pad-0 {
  padding:0.5em;
}

.marg-left-0 {
  margin-left: 0.3em;
}

.marg-right-2 {
  margin-right: 1em;
} 

.marg-top-2 {
  margin-top : 2em;
}

.flex-custom-date-row {
  display: flex;
}

.marg-left-1 {
  margin-left: 1em;
}

.label-line-height {
  line-height: 2.5rem;
}

.custom-report-duration:nth-last-child(2) {
  flex-grow: 1;
  margin-bottom: .5rem;
}

.informative-text {
  margin-left: 15px;
  font-size: 12px;
}
